.cabeçalho__dunderbzs {
    width: 24px;
    height: 24px;
    background-image: url("..img/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container__botao:checked ~ .container__rotulo > .cabeçalho__dunderbzs {
    background-image: url("../img/menu.svg");
}

.cabeçalho {
    background-color: var(--cor-de-fundo);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--preto);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--cinza-escuro);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__botao {
    display: none;
}

.container__título {
    display: none;
}

.opções {
    display: none;
}

.opções__item a:hover {
    color: var(--branco);
}

.container__texto {
    display: none;
}

@media screen and (min-width: 1024px) {
    
    .container__título, 
    .container__título--negrito {
        font-family: var(--fonte-secundario);
        font-size: 30px;
        color: var(--branco);
    }

    .container__título {
        font-weight: 400;
        display: block;
    }

    .container__título--negrito {
        font-weight: 700;
    }

    .opções {
        display: flex;
    }

    .opções__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opções__item a:hover {
        color: var(--branco);
    }

    .opções__link {
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem-transparente {
        display: none;
    }

    .cabeçalho__dunderbzs {
        display: none;
    }

    .opções__botão:checked ~ .lista-menu {
        display: block;
        width: auto;
    }

    .opções__botão {
        display: none;
    }

    .opções__botão:checked ~ .opções__rotulo > .opções__item {
        background: var(--cinza-botão);
    }

    .opções__item {
        padding: 2em 1em;
    }

    .lista-menu__item:hover {
        background: var(--cinza-botão);
    }

    .lista-menu__item:hover > .lista-menu__link {
        -webkit-text-fill-color: var(--preto);
        text-decoration: none;
    }
}

@media screen and (min-width: 1728px) {
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .cabeçalho {
        padding: 2em;
    }

    .opções {
        margin-right: auto;
    }

    .container__texto {
        display: block;
    }
}
