.tópicos {
    background-color: var(--preto);
    text-align: center;
    padding: 1em 0em;
}

.tópicos__título {
    color: var(--branco);
    font-weight: 400;
    margin-bottom: 1em;
}

.tópicos__lista { 
    display: flex;      
    flex-wrap: wrap;
    justify-content: center;
}

.tópicos__link {
    color: var(--branco);
    padding: 1em;
    background-color: #747373;
    text-decoration: none;
}

.tópicos__item {
    margin: 2em 1.5em;
    font-size: 14px;
    font-weight: 700;
}

.tópicos__link a:hover {
    color: var(--azul);
}

.tópicos__link a:active {
    color: rgb(31, 0, 170);
}

.tópicos__link:hover {
    background-color: var(--cinza-botão);
    color: var(--cor-de-fundo);
}

@media screen and (min-width: 1024px) {
    
    .tópicos__título {
        font-size: 24px;
    }

    .tópicos__link {
        font-size: 20px;
    }

    .tópicos__link a:hover {
        color: var(--azul);
    }
    
    .tópicos__link a:active {
        color: rgb(31, 0, 170);
    }
    
    .tópicos__link:hover {
        background-color: var(--cinza-botão);
        color: var(--cor-de-fundo);
    }
}

@media screen and (min-width: 1728px) {
    
    .tópicos {
        padding: 3em 30vw;
    }
}