.tópicos {
    background-color: var(--preto);
    text-align: center;
    padding: 1em 0em;
}

.tópicos__título {
    color: var(--branco);
    font-weight: 400;
    margin-bottom: 1em;
}

.tópicos__lista { 
    display: flex;      
    flex-wrap: wrap;
    justify-content: center;
}

.tópicos__link {
    color: var(--branco);
    padding: 1em;
    background-color: #747373;
    text-decoration: none;
}

.tópicos__item {
    margin: 2em 0.5em;
    font-size: 14px;
    font-weight: 700;
}